body {
	/* Background pattern from Subtle Patterns */
	background: url('../images/background.png');
	font-family: 'roboto_condensed', Arial, sans-serif;
}

.project-cont {
	width: 100%;
	min-width: 250px;
	max-width: 340px;
	background: white;
	border-radius: 10px;
	margin: 10px;
	text-align: center;
	position: relative;
	box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.4);
	flex: 1 1 260px;
    display: flex;
    flex-direction: column;
}

.project-screenshot-cont {
	flex-shrink: 0;
	height: 120px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;
	border-radius: 6px 10px 0px 0px;
	transition: 0.5s;
}

.project-cont:hover .project-screenshot-cont {
	height: 110px;
	margin-bottom: 15px;
}

.project-screenshot {
	width: 100%;
}

.project-logo-cont {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	position: absolute;
	top: 60px;
	left: calc(50% - 40px);
}

.project-logo {
	max-width: 100%;
	max-height: 100%;
}

.project-links {
	height: 25px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: nowrap;
}

.project-icon {
	max-width: 22px;
	max-height: 22px;
	margin-right: 6px;
}

.project-title {
	font-weight: bold;
	font-size: 1em;
	color: #292f33;
	margin-left: 4px;
	margin-right: 4px;
}

.project-years {
	font-weight: bold;
	font-size: 0.8em;
	color: #292f33;
}

.project-description,
.project-country {
	color: #66757f;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.project-country {
	padding-bottom: 0px;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.main {
	width: 80%;
	margin: 0 auto;
	min-width: 250px;
	max-width: 1080px;
	text-align: center;
	margin-top: 120px;
}

h1 {
	margin: 15px 0px 0px 0px;
}

.section-separator {
	color: #EEEEEE;
	overflow: hidden;
	text-align: center;
	font-variant: small-caps;
	font-variant-caps: small-caps;
	line-height: 1em;
	margin-bottom: 12px;
}

.section-menu,
.section-submenu {
	color: #EEEEEE;
	text-align: center;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 12px;
}

.section-submenu {
	display: none;
}

.section-menu span,
.section-submenu span {
	cursor: pointer;
	padding: 0px 16px;
}

.section-menu span.active,
.section-submenu span.active {
	font-weight: bold;
	font-style: italic;
}

.personal-logo {
	max-width: 280px;
	width: 100%;
	padding-bottom: 10px;
	filter: drop-shadow(0px 0px 2px white);
	transition: 0.4s;
}

.personal-logo:hover {
	filter: drop-shadow(0px 0px 5px white);
}

.personal-description, .contact-me {
	background: white;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	position: relative;
	box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.4);
	padding: 5px 20px 5px 20px;
	font-size: 1em;
	text-align: left;
	color: #292f33;
}

.contact-me {
	text-align: center;
}

.contact-me a {
	color: black;
}

/* MEDIA PAGE */
.media-logo-cont {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-left: 8px;
    padding-right: 8px;
	padding-bottom: 8px;
}

.media-logo-cont a {
	text-decoration: none;
	flex-shrink: 1;
	max-height: 40px;
	max-width: 40px;
	padding-left: 2px;
	padding-right: 2px;
}

.media-logo-cont-small a {
    width: 34px;
}

.media-logo {
	height: 100%;
	width: 100%;
	border-radius: 20px;
}

.media-logo-nolink {
	opacity: 0.2;
}

.other-interviews {
	background: white;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	position: relative;
	box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.4);
	padding: 10px 20px 5px 20px;
	font-size: 1em;
	text-align: left;
	color: #292f33;
}

#sticky, #preload {
	display: none !important;
}

@media screen and (min-width: 1500px) {
	#sticky {
		display: block !important;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 100;
	}
	
	#sticky img {
		width: 200px;
	}
}

@media screen and (max-width: 720px) {
	.main {
		width: calc(100% - 32px);
	}
	
	.section-menu,
	.section-submenu {
		flex-direction: column;
	}
	
	.project-description {
		display: none;
	}
	
	.project-cont {
		flex: 1 1 180px;
		min-width: 180px;
		padding-bottom: 6px;
	}
	
	.project-screenshot-cont {
		height: 80px;
		margin-bottom: 2px;
	}
	
	.project-cont:hover .project-screenshot-cont {
		height: 80px;
		margin-bottom: 2px;
	}
	
	.project-logo-cont {
		top: 5px;
		height: 70px;
	}
	
	.project-logo-cont img {
		filter: drop-shadow(0px 0px 5px white);	
	}
	
	.project-links {
		justify-content: center;
		margin-top: 2px;
	}
	
	.project-icon {
		margin: 0px 3px;
	}
	
	.project-links {
		order: 3;
		height: auto;
	}
	
	.media-logo-cont {
		padding-left: 3px;
		padding-right: 3px;
		padding-bottom: 0px;
	}

	.media-logo-cont a {
		max-height: 30px;
		max-width: 30px;
	}

	.media-logo-cont-small a {
		width: 24px;
	}

	.media-logo {
		height: 100%;
		width: 100%;
		border-radius: 20px;
	}
}

header {
	height: 110px;
	background: #e7e7e7;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: 0.3s;
	z-index: 200;
}

header nav {
	display: flex;
	flex-direction: row;
	max-width: 1060px;
	margin: 0 auto;
	align-items: flex-end;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	transition: 0.3s;
	width: calc(100% - 40px);
}

header nav .main-logo {
	height: 90px;
	padding: 10px;
	padding-right: 16px;
	transition: 0.3s;
}

header nav > ul > li > a {
	padding-bottom: 25px !important;
	transition: 0.3s;
}

.header-fixed {
	height: 65px;
}

.header-fixed nav .main-logo {
	height: 45px;
}

.header-fixed nav > ul > li > a {
	padding-bottom: 17px !important;
}

@media screen and (max-width: 820px) {
	header {
		height: 65px;
	}
	
	header nav {
		align-items: center;
	}
	
	header nav .main-logo {
		height: 45px;
	}
	
	header nav > ul > li > a {
		padding-bottom: 17px !important;
	}
	
	.main {
		margin-top: 75px;
	}
}

@media screen and (max-width: 768px) {
	nav {
		justify-content: space-between;
	}
	
	#menu-list {
		position: fixed !important;
		margin-left: -20px !important;
		top: 64px;
		background: #e7e7e7;
		overflow-y: auto;
		max-height: calc(100% - 65px);
	}
}
