/***************************************
************* MAIN *********************
***************************************/
body {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto';
	background: rgba(220,220,220,1);
}

.page-cont {
	height: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
	align-content: space-between;
}

.social {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 32px;
	font-size: 1.8em;
	text-align: center;
}

.social a {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5em;
	color: white;
	text-decoration: none;
	padding: 5px;
}

.title {
	height: 130px;
	text-align: center;
	flex-shrink: 0;
	padding: 10px;
	font-size: 6em;
	font-family: 'Bangers', sans-serif;
	line-height: 130px;	
	background: rgba(40,40,40,1);
	color: black;
	text-shadow: 0 0 20px #FFFFFF;
	padding-bottom: 25px;
}

.title a {
	color: black;
}

.logo {
	vertical-align: middle;
	display: inline-block;
}

.title-text {
	display: inline-block;
}

.panel-cont {
	position: relative;
	display: flex;
	flex-direction: row;
	position: relative;
	flex-shrink: 1;
	height: 100%;
}

.panel {
	color: white;
	text-align: center;
	font-size: 2.4em;
	font-family: 'Roboto Condensed', sans-serif;
	background: -webkit-linear-gradient(rgba(198,16,25,0), rgba(188,6,15,0.9) 40%);
	background: -moz-linear-gradient(rgba(198,16,25,0), rgba(188,6,15,0.9) 40%);
	background: linear-gradient(rgba(198,16,25,0), rgba(188,6,15,0.9) 40%);
	padding-top: 50px;
	padding-bottom: 15px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 2;
	transition: padding 0.4s ease-in-out;
	overflow: hidden;
    text-overflow: ellipsis;
}

.panel-top {
	background: -webkit-linear-gradient(rgba(40,40,40,1) 0%, rgba(40,40,40,0));
	background: -moz-linear-gradient(rgba(40,40,40,1) 0%, rgba(40,40,40,0));
	background: linear-gradient(rgba(40,40,40,1) 0%, rgba(40,40,40,0));
	padding-bottom: 50px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2;
}

.panel-link {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 3;
}

.panel-white {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: rgb(0, 0, 0);
	opacity: 0.25;
	transition: opacity 0.4s ease-in-out;
}

.panel-contents:hover .panel-white {
	opacity: 0;
}

.panel-contents:hover .panel {
	padding-bottom: 35px;
}

.panel-contents {
	flex-grow: 1;
	width: 100px;
	background-size: cover;
	background-position: center;
	position: relative;
}

/*#anime {
	background-image: url("anime.png");
}*/

#entertainment {
	background-image: url("entertainment.jpg");
}

#food {
	background-image: url("food.jpg");
}

#gaming {
	background-image: url("gaming.jpg");
}

#live-action {
	background-image: url("live-action.jpg");
}

/*#music {
	background-image: url("music.jpg");
}*/

/*#tv-movies {
	background-image: url("tv-movie.jpg");
}*/

#wrestling {
	background-image: url("wrestling.png");
}

@media screen and (max-width: 1200px) {
	.title {
		font-size: 5em;
		height: 108px;
		line-height: 108px;
		padding: 8px;
		padding-bottom: 21px;
	}
	
	.logo {
		height: 125px;
		width: 125px;
	}

	.panel {
		font-size: 2em;
	}
	
	.social {
		font-size: 1.44em;
		padding: 27px;
	}
}

@media screen and (max-width: 1000px) {
	.panel {
		font-size: 1.5em;
	}
	
	.title {
		font-size: 4em;
		height: 87px;
		line-height: 87px;
		padding: 7px;
		padding-bottom: 17px;
	}
	
	.logo {
		height: 100px;
		width: 100px;
	}
	
	.social {
		font-size: 1.18em;
		padding: 21px;
	}
}

@media screen and (max-width: 780px) {
	.title {
		font-size: 3em;
		height: 65px;
		line-height: 65px;
		padding: 5px;
		padding-bottom: 13px;
	}
	
	.logo {
		height: 75px;
		width: 75px;
	}
	
	.social {
		font-size: 0.9em;
		padding: 16px;
	}
	
	.panel-contents {
		width: 100%;
		display: block;
	}
	
	.panel-cont {
		flex-direction: column;
	}
	
	.panel {
		font-size: 1.8em;
		padding-bottom: 6px;
	}
	
	.panel-top {
		display: none;
	}
	
	.panel-top-first {
		display: block;
	}
	
	.panel-contents:hover .panel {
		padding-bottom: 10px;
	}
	
		
	/*#anime {
		background-image: url("anime-l.png");
	}*/

	#entertainment {
		background-image: url("entertainment-l.jpg");
	}

	#food {
		background-image: url("food-l.jpg");
	}

	#gaming {
		background-image: url("gaming-l.jpg");
	}

	#live-action {
		background-image: url("live-action-l.jpg");
	}

	/*#music {
		background-image: url("music-l.jpg");
	}*/

	/*#tv-movies {
		background-image: url("tv-movie-l.jpg");
	}*/

	#wrestling {
		background-image: url("wrestling-l.png");
	}
}

@media screen and (max-width: 600px) {
	.title {
		font-size: 2em;
		height: 43px;
		line-height: 43px;
		padding: 3px;
		padding-bottom: 8px;
	}
	
	.logo {
		height: 50px;
		width: 50px;
	}
	
	.social {
		font-size: 0.59em;
		padding: 11px;
	}
}

@media screen and (max-width: 400px) {
	.social {
		display: none;
	}
}

/***************************************
************* PER PAGE******************
***************************************/
.vertical-bar {
	font-size: 1.5em;
	position: absolute;
}

.episode_details {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(60,60,60,0.8);
	color: white;
	padding: 5px;
	border-radius: 10px;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s, opacity 0.3s linear;
}

.more {
	width: 215px;
	height: 121px;
	text-align: center;
	margin: 5px;
	font-size: 2em;
	cursor: pointer;
}

.more-text {
	padding-top: 0.2em;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	height: 100%;
}

.episode-holder {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	padding-left: 20px;
}

.episode {
	position: relative;
	padding: 5px;
	width: 215px;
}

.timecode {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: rgba(50,50,50,0.8);
	color: white;
	padding: 5px;
	border-radius: 10px 0px 0px 0px;
}

.play-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
}

.episode-title {
	font-variant: small-caps;
	font-weight: bold;
	margin-top: 0.3em;
	margin-bottom: 0em;
	transition: opacity 0.1s;
}

.episode-summary {
	font-size: 0.8em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.page-panel-cont-bg {
	background: #CCC;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.page-panel-cont {
	padding: 10px;
	background: -webkit-linear-gradient(rgba(40,40,40,1) 0%, #CCC 50px);
	background: -moz-linear-gradient(rgba(40,40,40,1) 0%, #CCC 50px);
	background: linear-gradient(rgba(40,40,40,1) 0%, #CCC 50px);
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #CCC, #444, #CCC);
}

.thumbnail {
	height: 121px;
	width: 215px;
	border-radius: 5px;
}

h1 {
	margin-bottom: 0px;
}