html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed';
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

.inner-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.panel-top {
	width: 100%;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0px 20px rgba(20, 20, 20, 0.5);
	z-index: 10;
}

.logo-top-cont {
	text-align: center;
	margin-top: 10px;
	max-width: 65%;
}

.logo-top {
	max-height: 60px;
	max-width: 100%;
	width: auto;
}

.circle-button {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	margin: 10px;
	font-size: 2em;
	line-height: 50px;
	background: rgb(230, 230, 230);
	text-align: center;
	cursor: pointer;
	flex-shrink: 0;
	position: relative;
}

.search-icon, .location-icon, .close-icon {
	width: 100%;
	height: 100%;
	transition: opacity 0.4s;
	position: absolute;
	left: 0px;
}

.close-icon {
	opacity: 0;
}

.panel-left {
	width: 20%;
	background: white;
	min-width: 340px;
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 0px 20px rgba(20, 20, 20, 0.5);
	z-index: 9;
	transition: max-width 0.6s;
	padding-top: 10px;
}

.panel-left > * {
	margin: 0 auto;
	display: block;
	text-align: center;
}

.panel-right {
	display: none;
	background: white;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 0px 20px rgba(20, 20, 20, 0.5);
	z-index: 9;
	transition: max-width 0.6s;
	padding-top: 10px;
}

.mobile-only {
	display: none;
}

.logo {
	width: 75%;
	cursor: pointer;
}

.motto, .motto-top {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 0.75em;
}

.logo-search-cont {
	width: 100%;
}

.clear-phrase {
	font-size: 0.75em;
	margin-top: 0.3em;
	cursor: pointer;
	display: none;
}

.clear-phrase:hover {
	text-decoration: underline;
}

.results-back {
	font-size: 0.75em;
	margin-top: 0.3em;
	cursor: pointer;
}

.results-back:hover {
	text-decoration: underline;
}

.results {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 10px;
	border-radius: 10px;
	margin-top: 0px;
}

.results-card {
	width: 95%;
	background: rgb(240, 240, 240);
	border-radius: 10px;
	margin: 10px;
	height: 60px;
	cursor: pointer;
}

.results-img {
	height: 100%;
	float: left;
	border-radius: 10px 0px 0px 10px;
}

.results-details {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.results-numbers {
	display: flex;
	justify-content: space-around;
}

.location-search {
	width: 90%;
}

.location-link-cont {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.location-link {
	cursor: pointer;
	text-align: center;
	background: rgb(240,240,240);
	padding: 0.2em;
	margin: 0.4em;
	border-radius: 3px;
	user-select: none;
	width: 90px;
	min-width: 70px;
	font-size: 0.75em;
	text-shadow: 0px 0px 10px white;
}

.location-link:hover {
	box-shadow: 0 2px 4px rgba(20, 20, 20, 0.5);
}

.location-link.gps {
	width: 200px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.location-photo {
	width: 40%;
}

.location-heading {
	font-size: 1.15em;
	font-weight: bold;
}

.location-img {
	height: 100%;
	width: 100%;
	border-radius: 3px;
}

.auckland {
	background: linear-gradient(0deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(cities/auckland.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wellington {
	background: linear-gradient(0deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(cities/wellington.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.christchurch {
	background: linear-gradient(0deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(cities/christchurch.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hamilton {
	background: linear-gradient(0deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(cities/hamilton.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.dunedin {
	background: linear-gradient(0deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(cities/dunedin.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hastings {
	background: linear-gradient(0deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(cities/hastings.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.napier {
	background: linear-gradient(0deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(cities/napier.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.whangarei {
	background: linear-gradient(0deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(cities/whangarei.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.taupo {
	background: linear-gradient(0deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(cities/taupo.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.gps {
	background: linear-gradient(0deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(cities/gps.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#map {
	height: 100%;
	width: 100%;
}

/**Googles*/
.warnbox-content, .adp-legal {
	font-size: 0.8em;
}

.adp-summary, .adp-placemark {
	display: none;
}

.adp-directions {
	width: 100%;
}

/*Media Queries*/
@media (max-height: 650px) {
	.quick-locations {
		display: none;
	}
}

@media (max-width: 750px) {
	.panel-left {
		width: 90%;
		min-width: 0px;
		max-width: 0px;
		overflow: hidden;
	}
	
	.panel-left.open {
		max-width: 340px;
	}
	
	.panel-right {
		display: flex;
		width: 90%;
		min-width: 0px;
		max-width: 0px;
		overflow: hidden;
	}
	
	.panel-right.open {
		max-width: 220px;
	}
	
	.logo, .motto {
		display: none;
	}

	.quick-locations {
		display: none;
	}

	.panel-top {
		display: flex;
	}

	.container {
		flex-direction: column;
	}
}