<nav class="nav" id="cssmenu">
    <a href="/">
        <img class="main-logo" src="assets/logos/original.png" alt="Grady logo"/>
    </a>
    <div id="menu-button">
        <div class="menu-text">MENU</div>
        <div class="menu-icon"></div>	
    </div>
    <ul id="menu-list">
        <!--<li><a href='/projects'>Software Development</a></li>-->
        <li><a href='/photography'>Photography</a></li>
        <!--<li><a href='/creative'>Creative</a></li>-->
        <li><a href='/podcasts'>Podcasts</a></li>
        <li><a href='/media'>Media & Press</a></li>
        <li><a href='/fights'>Fight Record</a></li>
        <!--<li><a href='/accomplishments'>Accomplishments</a></li>-->
    </ul>
</nav>