.fight-record {
	h1 {
		color: white;
		font-size: 1.5em;
		margin-bottom: 0.5em;
	}
	
	.key {
		display: flex;
		justify-content: space-between;
		color: white;
		padding-bottom: 20px;
		opacity: 0.6;
		
		div {
			display: flex;
			align-items: center;
			
			img {
				padding-right: 5px;
			}
		}
	}
	
	.table {
		width: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 3px;
		border: 1px solid #595959;
		background: #383838;
		color: white;
		box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.4);
		
		.tournament {
			
			&.grey,
			&:nth-child(odd) {
				background: rgba(255, 255, 255, 0.1);
			}
			
			.row {
				height: 30px;
				width: 100%;
				display: flex;
				flex-direction: row;
				padding-bottom: 5px;
				padding-top: 5px;
				
				> * {
					padding-left: 5px;
					padding-right: 5px;
					display: flex;
				}
				
				div:nth-child(1) {
					justify-content: center;
					align-content: center;
					width: 20px;
					height: 100%;
					text-align: center;
					flex-direction: column;
					
					img {
						height: 24px;
						width: 20px;
					}
				}
				
				div:nth-child(2) {
					width: 40px;
					align-items: center;
					justify-content: center;
				
					img {
						max-width: 40px;
						max-height: 30px;
					}
				}
				
				div:nth-child(3) {
					width: 290px;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
				
					span {
						font-size: 0.8em;
				
						&:nth-child(1) {
							font-size: 1em;
							font-weight: bold;
							text-align: left;
						}
					}
				}
				
				div:nth-child(4) {
					width: 30px;
					align-items: center;
					justify-content: center;
				
					img {
						max-width: 30px;
						max-height: 30px;
					}
				}
				
				div:nth-child(5) {
					width: 140px;
					align-items: center;
					justify-content: center;
				}
				
				div:nth-child(6) {
					width: 85px;
					align-items: center;
					justify-content: flex-start;
					text-align: center;
					flex-direction: row;
					
					.win, .loss, .draw {
						width: 85px;
						padding: 2px;
						border-radius: 10px;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;

						.sup {
							font-size: 0.65em;
							padding-left: 3px;
						}
					}

					.win {
						background: #77ff77;
						color: black;
					}

					.loss {
						background: #ffaaaa;
						color: black;
					}

					.draw {
						background: #FFFFAA;
						color: black;
					}
				}
				
				div:nth-child(7) {
					justify-content: center;
					align-content: center;
					width: 20px;
					height: 100%;
					text-align: center;
					flex-direction: column;
					
					img {
						width: 16px;
						height: 16px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $break-small) {
	.fight-record .table .row div:nth-child(4) {
		display: none;
	}
	
	.fight-record .table .row div:nth-child(3) {
		width: 150px !important;
	}
	
	.fight-record .table .row div:nth-child(3) span:nth-child(2) {
		display: none;
	}
}

@media screen and (max-width: $break-tiny) {
	.key {
		flex-wrap: wrap;
		align-items: center !important;
		justify-content: center !important;
		
		div {
			padding: 0px 10px;
		}
	}
	
	.fight-record .table .row div:nth-child(2) {
		display: none;
	}
	
	.fight-record .table .row div:nth-child(5) {
		width: 90px !important;
	}
	
	.fight-record .table .row div:nth-child(6) {
		width: 45px !important;
	}
	
	.fight-record .table .row div:nth-child(6) .win,
	.fight-record .table .row div:nth-child(6) .loss {
		width: 45px !important;
		color: transparent !important;
	}
	
	.table {
		align-self: center;
		margin: 0 auto;
		width: 380px !important;
	}
}

@media screen and (max-width: $break-supertiny) {
	.fight-record .table .row div:nth-child(1) {
		display: none;
	}
	
	.fight-record .table {
		font-size: 0.85em;
	}
	
	.fight-record .table .row div:nth-child(3) {
		width: 120px !important;
	}
	
	.fight-record .table .row div:nth-child(5) {
		width: 70px !important;
	}
	
	.table {
		width: 300px !important;
	}
}