/* ORGS PAGE */
.org-cont {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
	align-items: flex-start;
}

.orgs-table {
	width: 100%;
	max-width: 423px;
	margin: 5px;
	background: white;
	border-radius: 3px;
	border: 1px solid #595959;
	background: #383838;
	color: white;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.4);
	font-size: 0.8em;
	
	a {
		color: white;
		text-decoration: underline dotted;
	}
	
	img.logo {
		height: 100%;
		max-height: 130px;
	}
	
	td, th {
		border: 1px solid white;
		vertical-align: middle;
		padding: 4px;
		height: 25px;
		
		&.medium {
			height: 16px;
		}
		
		&.skinny {
			height: auto;
			font-size: 0.9em;
			padding: 2px 4px;
		}
		
		.header {
			font-size: 2em;
		}
	
		.subtitle {
			margin-top: 2px;
			
			img {
				height: 10px;
				width: 10px;
			}
		}
		
		.hoverable {
			text-decoration: dotted underline;
			cursor: help;
		}
		
		.crossout {
			text-decoration: dotted underline line-through;
		}
	}
		
	td {
		height: 32px;
	}
	
	.bold, th {
		font-weight: bold;
	}
	
	.blank    { background: rgba(85, 85, 85, 0.7); }
	.feilong  { background: rgba(10, 165, 8, 0.7); }
	.zhanhu   { background: rgba(214, 36, 36, 0.7); }
	.kasama   { background: rgba(255, 120, 36, 0.7); }
	.novote   { background: rgba(136, 136, 136, 0.7); }
	.anand    { background: rgba(153, 57, 85, 0.7); }
	.macha    { background: rgba(75, 84, 59, 0.7); }
	.morrigan { background: rgba(167, 207, 217, 0.7); }
	.ikeda    { background: rgba(220, 178, 243, 0.7); }
	.ikigai   { background: rgba(255, 177, 183, 0.7); }
	.amantani { background: rgba(232, 214, 49, 0.7); }
	.taquile  { background: rgba(235, 109, 61, 0.7); }
	.pukara   { background: rgba(188, 56, 79, 0.7); }
	.killa    { background: rgba(67, 185, 115, 0.7); }
	.dolce    { background: rgba(237, 225, 89, 0.7); }
	.upa      { background: rgba(174, 249, 231, 0.7); }
	.jednota  { background: rgba(132, 135, 210, 0.7); }
	.cutuchi  { background: rgba(92, 120, 153, 0.7); }
	.alaquez  { background: rgba(155, 209, 155, 0.7); }
	.cotopaxi { background: rgba(203, 73, 165, 0.7); }
	.rookies  { background: rgba(77, 77, 255, 0.5); }
	.wcw      { background: rgba(137, 11, 206, 0.7); }
	.nxt      { background: rgba(194, 124, 14, 0.7); }
	.nwa      { background: rgba(50, 98, 255, 0.7); }
	.yaha     { background: rgba(26, 124, 3, 0.7); }
	.swen     { background: rgba(17, 78, 196, 0.7); }
	.durmus   { background: rgba(168, 213, 186, 0.7); }
	.olum     { background: rgba(157, 115, 185, 0.7); }
	.welchia  { background: rgba(136, 90, 35, 0.7); }
	.mydoom   { background: rgba(119, 180, 228, 0.7); }
	.abraxas  { background: rgba(148, 146, 146, 0.7); }
	.viveremori { background: rgba(240, 167, 41, 0.7); }
	.trojanwhores { background: rgba(31, 224, 154, 0.6); }
	.futeki   { background: rgba(237, 151, 202, 0.7); }
	.tsuyoi   { background: rgba(21, 27, 38, 0.7); }
	.hayai    { background: rgba(56, 161, 49, 0.7); }
	.koumyou  { background: rgba(123, 88, 81, 0.7); }
	.tozansha { background: rgba(255, 184, 245, 0.7); }
	.danketsu { background: rgba(221, 228, 228, 0.7); }
	.striata  { background: rgba(255, 141, 141, 0.7); }
	.enkvir   { background: rgba(176, 185, 173, 0.7); }
	.elysian  { background: rgba(224, 208, 254, 0.7); }
	.tirama   { background: rgba(185, 230, 169, 0.7); }
	.aranui   { background: rgba(200, 199, 243, 0.7); }
	.team2    { background: rgba(137, 0, 255, 0.5); }
	.gradykevin { background: rgba(237, 18, 28, 0.5); }
	.limeteam { background: rgba(190, 255, 0, 0.5); }
	
	&.orgs-table-challenge {
		tr td:nth-child(1), tr th:nth-child(1) { width: 16%; }
		tr td:nth-child(2), tr th:nth-child(2) { width: 42%; }
		tr td:nth-child(3), tr th:nth-child(3) { width: 42%; }
	}
	tr td:nth-child(1), tr th:nth-child(1) { width: 16%; }
	tr td:nth-child(2), tr th:nth-child(2) { width: 18%; }
	tr td:nth-child(3), tr th:nth-child(3) { width: 18%; }
	tr td:nth-child(4), tr th:nth-child(4) { width: 40%; }
	.challenge { text-align: left; }
	tr td:nth-child(4), tr th:nth-child(5) { width: 8%; }
	.advantage div { display: flex; flex-wrap: wrap; height: 100%; width: 100%; align-items: center; justify-content: center; }
}