body {
	background: url('../assets/background.png');
	font-family: 'Roboto Condensed', Arial, sans-serif;
}
.project-cont {
	width: 100%;
	min-width: 250px;
	max-width: 340px;
	background: white;
	border-radius: 10px;
	margin: 10px;
	text-align: center;
	position: relative;
	box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.4);
	flex: 1 1 260px;
	display: flex;
	flex-direction: column;
	&:hover {
		.project-screenshot-cont {
			height: 110px;
			margin-bottom: 15px;
		}
	}
}
.project-screenshot-cont {
	flex-shrink: 0;
	height: 120px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;
	border-radius: 6px 10px 0px 0px;
	transition: 0.5s;
}
.project-screenshot {
	width: 100%;
}
.project-logo-cont {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	position: absolute;
	top: 60px;
	left: calc(50% - 40px);
}
.project-logo {
	max-width: 100%;
	max-height: 100%;
}
.project-links {
	height: 25px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: nowrap;
}
.project-icon {
	max-width: 22px;
	max-height: 22px;
	margin-right: 6px;
}
.project-title {
	font-weight: bold;
	font-size: 1em;
	color: #292f33;
	margin-left: 4px;
	margin-right: 4px;
}
.project-years {
	font-weight: bold;
	font-size: 0.8em;
	color: #292f33;
}
.project-description {
	color: #66757f;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.project-country {
	color: #66757f;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-bottom: 0px;
}
.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.main {
	width: 80%;
	margin: 0 auto;
	min-width: 250px;
	max-width: 1300px;
	text-align: center;
	margin-top: 80px;
	transition: 0.3s;
}
h1 {
	margin: 15px 0px 0px 0px;
}
.content-subname {
	color: white;
	margin-top: -10px;
	font-size: 0.8em;
}
.section-separator {
	color: #EEEEEE;
	overflow: hidden;
	text-align: center;
	font-variant: small-caps;
	font-variant-caps: small-caps;
	line-height: 1em;
	margin-bottom: 12px;
	font-size: 2em;
    font-weight: bold;
}
.section-menu {
	color: #EEEEEE;
	text-align: center;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 12px;
	span {
		cursor: pointer;
		padding: 0px 16px;
	}
	span.active {
		font-weight: bold;
		font-style: italic;
	}
}
.section-submenu {
	color: #EEEEEE;
	text-align: center;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 12px;
	display: none;
	span {
		cursor: pointer;
		padding: 0px 16px;
	}
	span.active {
		font-weight: bold;
		font-style: italic;
	}
}
.personal-logo {
	max-width: 280px;
	width: 100%;
	padding-bottom: 10px;
	filter: drop-shadow(0px 0px 2px white);
	transition: 0.4s;
	&:hover {
		filter: drop-shadow(0px 0px 5px white);
	}
}
.personal-description {
	background: white;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	position: relative;
	box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.4);
	padding: 5px 20px 5px 20px;
	font-size: 1em;
	text-align: left;
	color: #292f33;
}
.contact-me {
	background: white;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
	position: relative;
	box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.4);
	padding: 5px 20px 5px 20px;
	font-size: 1em;
	text-align: left;
	color: #292f33;
	text-align: center;
	a {
		color: black;
	}
}
#sticky {
	display: none !important;
	opacity: 1;
}
#preload {
	display: none !important;
	opacity: 1;
}
#sticky.hide {
	opacity: 0;
}
header {
	height: 110px;
	background: #e7e7e7;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: 0.3s;
	z-index: 200;
	nav {
		display: flex;
		flex-direction: row;
		max-width: 1060px;
		margin: 0 auto;
		align-items: flex-end;
		height: 100%;
		padding-left: 20px;
		padding-right: 20px;
		transition: 0.3s;
		width: calc(100% - 40px);
		.main-logo {
			height: 90px;
			padding: 10px;
			padding-right: 16px;
			transition: 0.3s;
		}
		>ul {
			>li {
				>a {
					padding-bottom: 25px !important;
					transition: 0.3s;
				}
			}
		}
	}
}
.header-fixed {
	height: 65px;
	nav {
		.main-logo {
			height: 45px;
		}
		>ul {
			>li {
				>a {
					padding-bottom: 17px !important;
				}
			}
		}
	}
	+ {
		#main {
			#sidePanel {
				height: calc(100vh - 65px);
				top: 65px;
			}
		}
	}
}
#sidePanel {
	position: fixed;
	width: 450px;
	height: calc(100vh - 110px);
	top: 110px;
	right: -450px;
	background: #383838;
	border-left: 1px solid #595959;
	z-index: 999;
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	.close {
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;
		font-weight: bold;
		color: white;
		background: rgba(0, 0, 0, 0.5);
		height: 30px;
		width: 30px;
		border-radius: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 10px;
	}
}
#main.sidePanel {
	#sidePanel {
		right: 0px;
	}
}
.sidepanel-image {
	width: 100%;
}
.sidepanel-links-cont {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
}
.sidepanel-link {
	height: 40px;
	margin: 3px 15px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	cursor: pointer;
	transition: 0.3s;
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding-right: 20px;
	line-height: 0.95em;
	text-align: left;
	&:hover {
		background: rgba(0, 0, 0, 0.3);
	}
}
.sidepanel-link-image {
	border-radius: 20px;
	height: 40px;
	padding-right: 20px;
}
.sidepanel-links-none {
	color: white;
	padding-top: 10px;
}

@media screen and (min-width: $break-extralarge) {
	#sticky {
		display: block !important;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 100;
		transition: 0.4s;
		img {
			width: 200px;
		}
	}
}

@media screen and (max-width: $break-small) {
	.main {
		width: calc(100% - 32px);
	}
	.section-menu {
		flex-direction: column;
	}
	.section-submenu {
		flex-direction: column;
	}
	.project-description {
		display: none;
	}
	.project-cont {
		flex: 1 1 180px;
		min-width: 180px;
		padding-bottom: 6px;
		&:hover {
			.project-screenshot-cont {
				height: 80px;
				margin-bottom: 2px;
			}
		}
	}
	.project-screenshot-cont {
		height: 80px;
		margin-bottom: 2px;
	}
	.project-logo-cont {
		top: 5px;
		height: 70px;
		img {
			filter: drop-shadow(0px 0px 5px white);
		}
	}
	.project-links {
		justify-content: center;
		margin-top: 2px;
		order: 3;
		height: auto;
	}
	.project-icon {
		margin: 0px 3px;
	}
}

@media screen and (min-width: $break-xxlarge) {
	#main.sidePanel {
		padding-right: 450px;
	}
}

@media screen and (max-width: $break-medium) {
	header {
		height: 65px;
		nav {
			align-items: center;
			.main-logo {
				height: 45px;
			}
			>ul {
				>li {
					>a {
						padding-bottom: 17px !important;
					}
				}
			}
		}
	}
	.main {
		margin-top: 75px;
	}
	#sidePanel {
		height: calc(100vh - 65px);
		top: 65px;
	}
}

@media screen and (max-width: $break-small) {
	nav {
		justify-content: space-between;
	}
	#menu-list {
		position: fixed !important;
		margin-left: -20px !important;
		top: 64px;
		background: #e7e7e7;
		overflow-y: auto;
		max-height: calc(100% - 65px);
	}
}

@media screen and (max-width: $break-supertiny) {
	#sidePanel {
		width: 100%;
	}
	#main.sidePanel {
		left: 0;
	}
}
