<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html" charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Grady Hooker</title>
		<meta name="description" content="">

		<!-- Open Graph data -->
		<meta property="og:type" content="">
		<meta property="og:site_name" content="">
		<meta property="og:url" content="{{ site.url | append: page.url | remove: '.html'}}">
		<meta property="og:title" content="">
		<meta property="og:description" content="">
		<meta property="og:image" content="">

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@GradyHooker" />
		<meta name="twitter:title" content="">
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content="">
		
		<!-- Favicons -->
		{% include favicon.html %}

		<!-- StyleSheets -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/lib/slick/slick.css">
		<link rel="stylesheet" type="text/css" href="/lib/slick/slick-theme.css">

		<!-- Jquery -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous" type="text/javascript"></script>

		<!--Background pattern from Subtle Patterns-->
	</head>
	<body>
		{{ content }}
		
		<!-- JavaScript -->
		<script src="/js/script.js"></script>
		<script src="/js/podcasts.js"></script>
		<script src="/js/dropdown.js"></script>
		<script src="/js/pokedex.js"></script>
		
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-3MHC2G8PFX"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-3MHC2G8PFX');
		</script>
	</body>
</html>
